{% extends "base.html.twig" %}

{% block title %}Uitspraak van {{ quote.sayer }}{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="canonical" href="{{ constant('SITE_URL') }}/quote/{{ quote.slug }}">
    <meta property="og:image" content="{{ constant('SERVICE_URL') }}/img/{{ quote.id }}" />
    <meta property="og:title" content="Uitspraak van {{ quote.sayer }}" />
    <meta property="og:url" content="{{ constant('SITE_URL') }}/quote/{{ quote.slug }}" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{ quote.quote }}">
    <meta property="og:description" content="{{ quote.quote }}" />
    <script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Quotation",
        "creator": {
            "@type": "Person",
            "name": "{{ quote.sayer }}"
        },
        "editor": {
            "@type": "Person",
            "name": "{{ quote.submitter }}"
        },
        "text": "{{ quote.quote }}",
        "archivedAt": {{ website_schema|raw }}
    }
    </script>
{% endblock %}
{% block content %}
<div class="full-h">
    {{ include('partials/blockquote.html.twig') }}
</div>

<h3 class="full">Gerelateerde uitspraken</h3>
<section id="quotes_list" class="quotes-list">
    {% set is_single_quote = false %}
    {% set a = 0 %}
    {% for quote in related %}
        {{ include('partials/blockquote.html.twig') }}
        {% set a = a + 1 %}
        {% if a == 1 %}
            <div class="readable ranking marg-bot">
                <p class="ad-info">[ reclame ]</p>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2356098750828124"
                    crossorigin="anonymous"></script>
                <!-- horizontaal -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2356098750828124" data-ad-slot="7031205682"
                    data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    ( adsbygoogle = window.adsbygoogle || [] ).push( {} );
                </script>
            </div>
        {% endif %}
    {% endfor %}
    {% if not related %}
        <p>Geen gerelateerde uitspraken</p>
    {% endif %}
    <div class="readable ranking marg-bot">
        <p class="ad-info">[ reclame ]</p>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2356098750828124"
            crossorigin="anonymous"></script>
        <!-- horizontaal -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2356098750828124" data-ad-slot="7031205682"
            data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            ( adsbygoogle = window.adsbygoogle || [] ).push( {} );
        </script>
    </div>
    </section>
{% endblock %}