{% extends "base.html.twig" %}

{% block title %}
	{{ list_title|striptags }}
{% endblock %}
{% block head %}
	{{ parent() }}
	<link rel="canonical" href="{{ list_url }}">
	<meta property="og:image" content="{{ tqd.site_url }}/visual.png"/>
	<meta property="og:title" content="{{ list_title|striptags }}"/>
	<meta property="og:url" content="{{ list_url }}"/>
	<meta property="og:type" content="website"/>
	<meta name="description" content="{{ list_title|striptags }}">
	<meta property="og:description" content="{{ list_title|striptags }}"/>
{% endblock %}
{% block extra_body_classes %}slide{% endblock %}
{% block content %}
	<div class="slide-wrapper">
		<div id="slide" class="slide">
			<div class="quote">
				<a class="aq" id="quote"></a>
				<a id="sayer" class="sayer"></a>
			</div>
		</div class="slide">
		<div class="title">
			<span>slide</span>
			<span>{{ filter }}</span>
			<span>{{ slug }}</span>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	{{ parent() }}
	<script>
		window.tqd_sl_q = {{ quotes|json_encode|raw }};
	</script>
{% endblock %}
